flows_example.json
[{"type":"tab","id":"ba4c3634.ccf8b8","label":"balance"},{"id":"132f3c3.d0d5bc4","type":"websocket-listener","path":"/ws/example","wholemsg":"false"},{"id":"dd57426b.690f08","type":"function","name":"filtrerect","func":"var ck=0,ak = msg.payload.brut;\nvar k=0;\nconst n=5;\n\nvar moy;\nvar mesure;\n\n//initialisation\ncontext.ckn =  context.ckn || ak;\ncontext.akn = context.akn || [];\ncontext.k = context.k || 0;\n// on fait le bouzin\nk = context.k;\ncontext.akn.unshift(ak);\nif (k<=n)\n\t{\n\tk+=1;\n\t} else\n\t{\n\tcontext.akn.pop();\n\t};\n//on calcule le nouveau ck\n\nck = context.ckn + (ak - context.akn[n])/ n;\n// console.log(ak,\"--\",Math.round(ck));\nmoy = Math.round(ck);\t\n// moy = Math.round((moy-36)/652*100)*5;\nmesure = ak;\n// mesure = Math.round((mesure-36)/652*100)*5;\nmsg.payload.rect = moy;\ncontext.ckn =ck;\ncontext.k = k;\nreturn msg;","outputs":"1","x":430,"y":167,"z":"ba4c3634.ccf8b8","wires":[["a2ad74e.8b51588"]]},{"id":"53ac8fb1.c891f","type":"websocket out","name":"webbalance","server":"132f3c3.d0d5bc4","x":705,"y":237,"z":"ba4c3634.ccf8b8","wires":[]},{"id":"aa535d37.a471a","type":"inject","name":"","topic":"","payload":"start","payloadType":"string","repeat":"","crontab":"","once":false,"x":103,"y":28,"z":"ba4c3634.ccf8b8","wires":[["e1152d93.714d2"]]},{"id":"2f45124.e6e2c6e","type":"inject","name":"","topic":"","payload":"stop","payloadType":"string","repeat":"","crontab":"","once":false,"x":90,"y":80,"z":"ba4c3634.ccf8b8","wires":[["e1152d93.714d2"]]},{"id":"a2ad74e.8b51588","type":"function","name":"filtreexp","func":"var ck=0,ak = msg.payload.brut;\nconst alpha=0.9;\n\nvar moy;\nvar mesure;\n\n//initialisation\ncontext.ckn =  context.ckn || ak;\n// on fait le bouzin\nck = (1-alpha)*ak + alpha * context.ckn\n// on affiche\nmoy = Math.round(ck);\t\n//moy = Math.round((moy-36)/652*100)*5;\n//mesure = ak;\n//mesure = Math.round((mesure-36)/652*100)*5;\n\nmsg.payload.exp = moy;\n// on prépare le prochain coup\ncontext.ckn =ck;\nreturn msg;","outputs":1,"x":514,"y":240,"z":"ba4c3634.ccf8b8","wires":[["a7508b3.7c3c078"]]},{"id":"a7508b3.7c3c078","type":"function","name":"filtremoy","func":"var ck=0,ak=msg.payload.brut;\n\nvar moy,mesure;\n\nconst n=5;\n\n// initialisation\ncontext.ck1 = context.ck1 || ak; \n// on fait le bouzin\nck = context.ck1 + (ak - context.ck1)/n;\n// on publie\nmoy = Math.round(ck);\nmesure = ak ;\nmsg.payload.moy = moy ;\n// on prépare le tour suivant (c'est récurrent)\ncontext.ck1 = ck;\nreturn msg;","outputs":1,"x":609,"y":310,"z":"ba4c3634.ccf8b8","wires":[["53ac8fb1.c891f"]]},{"id":"e4c1dd9e.2ad328","type":"function","name":"brut","func":"msg.payload = {\"brut\":msg.payload};\nreturn msg;","outputs":1,"x":342,"y":90,"z":"ba4c3634.ccf8b8","wires":[["dd57426b.690f08"]]},{"id":"e1152d93.714d2","type":"mcp3008","name":"balance","device":"/dev/spidev0.0","mode":"0x10","interval":"1000","x":257,"y":165,"z":"ba4c3634.ccf8b8","wires":[["e4c1dd9e.2ad328"]]},{"id":"b8bc7644.b72e8","type":"websocket in","name":"CmdBalance","server":"132f3c3.d0d5bc4","x":99,"y":334,"z":"ba4c3634.ccf8b8","wires":[["664f1d25.7dd204"]]},{"id":"664f1d25.7dd204","type":"function","name":"parser","func":"var cmd;\ncmd = {payload: msg.payload};\n\nreturn cmd;","outputs":1,"x":173,"y":245,"z":"ba4c3634.ccf8b8","wires":[["e1152d93.714d2","54287ab1.51854c"]]},{"id":"54287ab1.51854c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":265,"y":334,"z":"ba4c3634.ccf8b8","wires":[]}]